<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designPatternsMDD -->
      <package
            uri="http://www.example.org/designPatternsMDD"
            class="designPatternsMDD.DesignPatternsMDDPackage"
            genModel="model/designPatternsMDD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designPatternsMDD -->
      <package
            uri="http://www.example.org/designPatternsMDD/packages"
            class="designPatternsMDD.packages.PackagesPackage"
            genModel="model/designPatternsMDD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designPatternsMDD -->
      <package
            uri="http://www.example.org/designPatternsMDD/patterns"
            class="designPatternsMDD.patterns.PatternsPackage"
            genModel="model/designPatternsMDD.genmodel"/>
   </extension>

</plugin>
